@tailwind base;
@tailwind components;
@tailwind utilities;

/* ANIMAÇÃO DE ENTRADA DO SITE */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.anime-entrada {
  animation: fadeIn 0.8s ease-out forwards;
}